@{
    ViewBag.Title = "新创";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="leftbar">
        @{
            Html.RenderAction("_TypePartial", "Product", new { lCode = ViewContext.RouteData.Values["language"] });
        }
        <div class="picbox">
            <img src="~/Content/images/links1.png" width="204" height="74" />
        </div>
        <div class="picbox">
            <img src="~/Content/images/links2.png" width="204" height="74" />
        </div>
        <div class="picbox">
            <img src="~/Content/images/links3.png" width="204" height="74" />
        </div>
    </div>
    <div class="rightbar">
        <div class="productbox">
            <div class="top">
                <h3>产品展示</h3>
            </div>
            <div class="mid" style="min-height:555px;">
            </div>
            <div class="di"></div>
        </div>
    </div>
    <div class="fc"></div>
</div>
