@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "ProductType";
}
@section javascript{
    <script src="@Url.Content("~/Scripts/admin-producttype.js")" type="text/javascript"></script>
}
<div style="float:left;">
    <table id="pt1Grid"></table>
    <div id="pt1Pager">
    </div>
</div>
<div style="float:left;">
    <table id="pt2Grid"></table>
    <div id="pt2Pager">
    </div>
</div>