@model List<ThinkYi.Domain.Language>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>新创网站管理后台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="~/Content/themes/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/layout/css/layout-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/jqGrid/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/admin.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jqueryui/redmond/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/layout/js/jquery.layout.min.js" type="text/javascript"></script>
    <script src="~/Scripts/admin-index.js" type="text/javascript"></script>
</head>
<body>
    @***********north start*****************@
    <div class="ui-layout-north">
        <div style="float: right; padding: 5px 5px 0px 0px; font-size: 12px; color:white;">
            <div style="float: right; margin-right: 5px;">
                <strong>用户：</strong> <span>管理员</span>
            </div>
        </div>
        <div id="logo">
            <span class="big">这里是大字描述</span>
            <span class="small">这里是小字描述这里是小字描述</span>
        </div>
    </div>
    @***********north end*******************@
    @***********west start******************@
    <div id="tabs-west" class="ui-layout-west">
        <div style="border-bottom: 1px solid #79b7e7; background: #3682dd;color:white; height:30px; line-height: 30px; text-align: center; font-size: 13px;">--- 导航菜单 ---</div>
        <div id="accordion" class="accordion">
            <h3>系统管理</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div class="selected" title="I18N">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">语言设置</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">操作按钮</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">操作按钮</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#">
                                <img src="~/Content/images/admin/bricks.png">
                                <span class="nav">操作按钮</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>产品管理</h3>
            <div>
                <ul class="menuItem">
                    <li>
                        <div title="ProductType">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/chart_organisation.png">
                                <span class="nav">类别管理</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div title="Product">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/sitemap_color.png">
                                <span class="nav">产品列表</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div title="ProductAdd">
                            <a href="javascript:void(0);">
                                <img src="~/Content/images/admin/note.png">
                                <span class="nav">添加产品</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <h3>新闻管理</h3>
            <div>
            </div>
            <h3>招聘管理</h3>
            <div>
            </div>
        </div>
    </div>
    @***********west end********************@
    @***********center start****************@
    <div class="ui-layout-center">
        <div style="border-bottom: 1px solid #79b7e7; background: #3682dd; color: white; height:30px; line-height: 30px; font-size: 13px; padding-left:10px; margin-bottom:2px;">
            <div style="float:left;">
                后台首页 > <span class="ribbon">语言设置</span>
            </div>
            <div class="language">
                @foreach (var l in Model)
                {
                    <a href="javascript:void(0);" name="@l.Code" title="@l.LanguageID">
                        @l.Name
                    </a>
                }
            </div>
        </div>
        <iframe id="mainFrame" name="mainFrame" class="ui-layout-content" width="100%" frameborder="0" scrolling="auto"
                src="@Url.Action("I18N")"></iframe>
    </div>
    @***********center start****************@
</body>
</html>
