@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section javascript{
    <script src="@Url.Content("~/Scripts/admin-titlepic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/UEditor/ueditor.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/UEditor/ueditor.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/UEditor/lang/zh-cn/zh-cn.js")" type="text/javascript"></script>
}
<div class="form" style="border-top:1px solid #a6c9e2; padding:8px 10px;">
    <input type="hidden" id="PostID" name="PostID" />
    <ul>
        <li class="liBigPic">
            <label class="title">上传标题图标</label>
            <input type="button" id="btnSelect" name="btnSelect" class="btnUpPic" value="选择标题图标" />
            <span style="color:#808080;">图标尺寸(74*44)</span>
        </li>
        <li>
            <label class="title">是否应用于其它语言</label>
            <label style="margin: 0px; width: 235px;">
                <input type="checkbox" id="IsClone" name="IsClone" class="text ui-widget-content ui-corner-all" />
                <span style="color: #808080;">勾选则把此图标应用于另外两种语言</span>
            </label>
        </li>
        <li>
            <label class="title">标题图标预览</label>
            <img id="TitlePic" src="~/Content/images/admin/temp.png" style="width:74; height:44px;" />
        </li>
    </ul>
</div>
<button style="position:fixed; top:10px; right:10px;" id="btnSave" type="button">
    保存
</button>
<div style="display: none;" id="upPicEditor">
</div>