@using ThinkYi.Domain
@model Information
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner1">
    <img src="@Model.BannerPic" alt="@Model.Code" width="995" height="204">
</div>
<div id="main">
    <div class="leftbar">
        @{
            Html.RenderAction("_TypePartial", "Product", new { lCode = ViewContext.RouteData.Values["language"] });
        }
        <div class="picbox">
            <img src="~/Content/images/links1.png" width="204" height="74" />
        </div>
        <div class="picbox">
            <img src="~/Content/images/links2.png" width="204" height="74" />
        </div>
        <div class="picbox">
            <img src="~/Content/images/links3.png" width="204" height="74" />
        </div>
    </div>
    <div class="rightbar">
        <div class="productbox">
            <div class="top">
                <h3>@ViewBag.Caption</h3>
            </div>
            <div class="mid" style="min-height:555px;">
                @Html.Raw(Model.Text)
            </div>
            <div class="di"></div>
        </div>
    </div>
    <div class="fc"></div>
</div>
