/* Date:2014/04/23 */
*{padding:0; margin:0;}
img{border:none;}
ul,li{list-style-type:none;}
.fc{clear:both;}
body{font-size:12px; background:url(../images/bg1.jpg) center top no-repeat #eadcbf;}
a,a:link,a:visited{ color:#515151; text-decoration:none;}
a:hover,a:active{ color:#f60; text-decoration:none;}
a.a_white,a.a_white:link,a.a_white:visited{ color:#fff; text-decoration:none;}
a.a_white:hover,a.a_white:active{ color:#ff0; text-decoration:none;}

/*-- header -------------------------------------------------------------*/
#header{background:url(../images/topbg.jpg) no-repeat; width:998px; margin:0 auto;}
#header .top{height:102px; padding-left:650px; text-align:left;}
#header .langbox{ padding-top:10px; height:20px; line-height:20px;}

.banner{margin:10px 0;}
.img_txt{vertical-align:middle; padding-right:10px;}
#header .telbox{margin-top:7px;}
#header .telbox .tel{height:28px; line-height:28px; background:url(../images/icon_tel.png) left center no-repeat; padding-left:60px; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; display:inline-block; color:#f00;}
#header .searchbox{background:#62ab00; width:230px; height:24px; line-height:24px; margin-top:5px;}
#header .searchbox .input1{background:#ffffcc; margin:2px 0 2px 2px; color:#515151; border:none;height:20px; line-height:20px; padding:0 4px;vertical-align:middle;width:170px; }
#header .searchbox .input2{background:#62ab00;text-align:center; color:#fff; border:none; width:50px; height:20px; line-height:20px; vertical-align:middle; cursor:pointer;}

#header .menu{background:url(../images/menubg.jpg) repeat-x; height:38px; line-height:38px; font-family:"Microsoft YaHei","微软雅黑"; font-size:14px;}
#header .menu ul li{float:left; font-size:14px; width:118px; text-align:center; font-weight:bold; color:#fff;}
#header .menu ul li a{color:#fff; text-decoration:none;}
#header .menu ul li a:hover{color:#ff0; text-decoration:none;}
#header .menu ul li.menu_fg{width:5px; display:block; margin:0;}

/*-- main -------------------------------------------------------------*/
#main{width:998px; margin:10px auto 0px;}
#main .leftbar{width:204px; float:left;}
#main .rightbar{width:782px; float:right;}
#main2{width:998px; margin:0px auto 10px;}
.probox{margin-bottom:10px;}
.probox .protop{background:url(../images/lmtop1.png) no-repeat; height:32px; line-height:32px; width:204px;}
.probox .protop h3{color:#fff; padding-left:15px;font-family:"Microsoft YaHei","微软雅黑"; font-size:15px;}
.probox .promid{background:url(../images/lmbg1.png) no-repeat; height:340px; padding:0 10px;}

.prolist{ padding-top:5px; line-height:24px;}
.prolist ul li{background:url(../images/icon_dian.png) no-repeat left 6px; padding-left:20px; font-size:12px; font-weight:bold; border-bottom:1px solid #99cc00;}
.prolist ul li a{color:#ff6100; text-decoration:none;}
.prolist ul li a:hover{color:#f00; text-decoration:none;}
.prolist ul li ul li{ background:none; border:none; line-height:20px; padding-left:0px; color:#515151; font-size:12px; font-weight:normal;}
.picbox{margin-bottom:6px;}

.bannerbox{ margin-bottom:6px;}
.bannerbox .top{background:url(../images/lmtop2.png) no-repeat; height:34px; line-height:34px;}
.bannerbox .top h3{color:#fff; padding-left:15px; font-family:"Microsoft YaHei","微软雅黑"; font-size:15px;}
.bannerbox .mid{ background:none;}
/*.bannerbox .mid{ background:url(../images/lmbg2.png) repeat-y; padding:0px 1px;}
.bannerbox .di{ background:url(../images/lmdi2.png) no-repeat; height:12px; width:782px; overflow:hidden;}*/

.productbox{line-height:0px;}
.productbox .top{background:url(../images/lmtop2.png) no-repeat; height:34px; line-height:34px;}
.productbox .top h3{color:#fff; padding-left:15px; font-family:"Microsoft YaHei","Microsoft YaHei","微软雅黑"; font-size:15px; float:left;}
.productbox .top span{color:#fff; float:right; padding-right:20px;}
.productbox .mid{ background:url(../images/lmbg2.png) repeat-y; padding:10px; height:175px;}
.productbox .di{ background:url(../images/lmdi2.png) no-repeat; height:12px; width:782px; overflow:hidden;}
.pick{padding:18px 0;}
.pick li{margin:0px 12px; width:164px; display:block; float:left;  }
.pick li .pick_img{border:1px solid #ccc; display:block; float:left;}
.pick li .pick_name{height:30px; line-height:30px; text-align:center;}

.lcbox{ margin-top:1px;}
.lcbox .top{background:url(../images/lmtop3.png) no-repeat; height:34px; line-height:34px;}
.lcbox .top h3{color:#fff; padding-left:15px; font-family:"微软雅黑"; font-size:15px; float:left;}
.lcbox .top span{color:#fff; float:right; padding-right:20px;}
.lcbox .mid{ background:url(../images/lmbg3.png) repeat-y; padding:10px;}
.lcbox .di{ background:url(../images/lmdi3.png) no-repeat; height:12px; width:998px; overflow:hidden;}

.flbox{float:left; width:116px; margin:0 2px; text-align:center;}
.flbox h3{font-size:12px; font-weight:bold; color:#515151;}
.flbox p{line-height:18px; height:60px; margin-top:10px; color:#999999;}
.flbox img {text-align:center;}
.fl_jt{float:left; background:url(../images/jt.png) no-repeat; width:22px; height:20px; margin-top:120px;}
/* test 11*/
.fl_jt{float:left; background:url(../images/jt.png) no-repeat; width:22px; height:20px; margin-top:50px;}
.pagebox{text-align:center; height:35px; line-height:35px; background:#eee; border:1px solid #ccc; margin:0 10px; color:#666666;}
.pagebox a{margin:0 5px; color:#666; text-decoration:none;}
.pagebox a:hover{margin:0 5px; color:#f00; text-decoration:none;}

.pagebox{text-align:center; height:35px; line-height:35px; background:#eee; border:1px solid #ccc; margin:0 10px; color:#666666;}
.pagebox a{margin:0 5px; color:#666; text-decoration:none;}
.pagebox a:hover{margin:0 5px; color:#f00; text-decoration:none;}


/*-- footer -------------------------------------------------------------*/
#footer{ width:998px; margin:0 auto;}
#footer .links{background:#669900; height:30px; line-height:30px; text-align:center;color:#fff;}
#footer .links a{ margin:0 20px; color:#fff; text-decoration:none;}
#footer .links a:hover{ margin:0 20px; color:#f00; text-decoration:none;}
#footer .copyright{ text-align:center; line-height:22px; background:url(../images/logo2.png) 40px center no-repeat; padding-left:60px; padding-top:10px; height:90px; color:#515151;}

#slideshow{width:782px;height:339px;position:relative;overflow:hidden; margin-bottom:10px;}
.slideImg img{border:0px;}
.slideImg a{position:absolute;display:none;z-index:1;left:0;top:0;width:100%;height:100%;float:left;margin-right:-100%;text-align:center;}
.slideBtn ul{position:absolute;right:10px;bottom:10px;overflow:hidden;z-index:100;}
.slideBtn li{list-style:none;width:12px;height:12px;margin-right:5px;background:#fff;border:1px solid #666;cursor:pointer;float:right;}
.slideBtn .on{background:#666;border:1px solid #fff;cursor:default;}