<div class="picbox">
    <a href="@Url.Action("Index", "Payment", new { language = ViewContext.RouteData.Values["language"] })">
    <img src="~/Content/images/links1.png" width="204" height="74" />
    </a>
</div>
<div class="picbox">
    <a href="http://newmindhk.en.alibaba.com/" target="_blank">
        <img src="~/Content/images/links2.png" width="204" height="74" />
    </a>
</div>
<div class="picbox">
    <img src="~/Content/images/links3.png" width="204" height="74" />
</div>
