<div class="picbox">
    <img src="~/Content/images/links1.png" width="204" height="74" />
</div>
<div class="picbox">
    <img src="~/Content/images/links2.png" width="204" height="74" />
</div>
<div class="picbox">
    <img src="~/Content/images/links3.png" width="204" height="74" />
</div>
