@using ThinkYi.Domain
@model List<Menu>
<div id="footer">
    <div class="links">
        @{
            int count = Model.Count;
            for (int i = 0; i < count; i++)
            {
                <a href="#">@Model[i].Name</a>
                if (i < count - 1)
                {
                    <span>|</span>
                }
            }
        }
    </div>
    <div class="copyright">
        HongKong Address:Unit C,20/F.,Nathan Commercial Building, 430-436 Nathan Road,Yaumatei,Kowloon.   Tel: +852 3621 0809    +852 6915 2564<br />
        东莞公司地址: 东莞市长安镇厦岗福海路华盛大厦五楼    电话: 0769-3321 8944   传真: 0769-8275 0856<br />
        专营: 名片，海报，说明书，彩卡，彩盒，手工盒，手挽袋，挂历，利是封，贺卡等纸类印刷
    </div>
</div>