@using ThinkYi.Web.Models
@model PartialFooter
<div id="footer">
    <div class="links">
        @{
            int count = Model.Menus.Count;
            for (int i = 0; i < count; i++)
            {
                <a href="@Url.Action("Index", Model.Menus[i].Code, new { language = ViewContext.RouteData.Values["language"] })">@Model.Menus[i].Name</a>
                if (i < count - 1)
                {
                    <span>|</span>
                }
            }
        }
    </div>
    <div class="copyright">
        @Html.Raw(Model.Footer)
    </div>
</div>