<div id="header">
    <div class="top">
        <div class="langbox"><img src="~/Content/images/txt.jpg" width="155" height="20" class="img_txt" /> English  |  繁体</div>
        <div class="telbox"><span class="tel">0769-3321 8944</span></div>
        <div class="searchbox"><input type="text" value="请输入关键字" class="input1" /><input type="button" value="搜索" class="input2" /></div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">首页</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">关于新创</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">产品价格</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">生产设备</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">产品展示</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">行业知识</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">招聘信息</a></li>
            <li class="menu_fg">|</li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</div>