@using ThinkYi.Web.Models
@model PartialPType
<div class="probox">
    <div class="protop"><h3>@Model.title</h3></div>
    <div class="promid">
        <div class="prolist">
            <ul>
                @{
                    var data = Model.ProductTypes;
                    var parentTypes = data.Where(p => p.ParentTypeID == 0).ToList();
                    foreach (var pt in parentTypes)
                    {
                        int ptid = pt.ProductTypeID;
                        var childTypes = data.Where(p => p.ParentTypeID == ptid).ToList();
                        int count = childTypes.Count;
                        <li>
                            <a href="#">@pt.Name</a>
                            <ul>
                                <li>
                                    @for (int i = 0; i < count; i++)
                                    {
                                        <span>@childTypes[i].Name</span>
                                        if (i < count - 1)
                                        {
                                            <span>·</span>
                                        }
                                    }

                                </li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>